/* CSS for the create.jsp page */
@import url('global.css');
@import url('edit.css');

#container{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* background doesn't scroll*/
}

/* css for both Div-sides*/
.leftSide{
    float: left;
    width: 50%;
    height: auto;
}

.rightSide{
    float: left;
    width: 50%;
    height: auto;
}

.leftSide, .rightSide {
    background-color: rgba(255, 255, 255, 0); /* Beide Divs halbtransparent */
}

.imageBox{
    align-content: center;
}

.row-md{
    align-items: center;
}

.title {
    text-align: left;
}

.text-center {
    color: green;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: italic
}

.clear {
    clear: both;
}

.labels {
    display: inline-block;
    width: 150px;
    font-weight: bold
}

.labels_withmargin {
    display: inline-block;
    width: 230px;
    margin-top: 30px;
    font-weight: bold
}

#description {
    width: 200%;
    margin-bottom: 40px
}

#uploadedImage {
    max-width: 100%;
    max-height: 200px;
    margin-top: 20px;
}