/* CSS for the detail.jsp page */

/* CSS for the star ratings */
.input {
    height: 100%;
    width: 100%;
    display: none; /*"Hide" inputs*/
}

.star-rating {
    display: inline-block;
    font-size: 15px; /* Adjust the size as needed */
    color: gold; /* Change the color if necessary */
    margin-right: 3px; /* Adjust spacing between stars */
}

.inactive {
    display: inline-block;
    font-size: 15px; /* Adjust the size as needed */
    color: grey; /* Change the color if necessary */
    margin-right: 3px; /* Adjust spacing between stars */
}

/* CSS for the general design of the page */
.content {
    display: none;
    background-color: white;
    padding: 50px;
    margin-bottom: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
}

.text-center {
    color: green;
    font-style: italic;
    margin: auto;
}
.button-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between
}

.row{
    text-align: center;
}

.map {
    width: 100%;
    height: 400px;
}

.hikeImage {
    width: 100%;
    height: 400px;
}

.characteristics {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-evenly;
}

.images {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
}

.icons {
    width:50px;
    height: 40px;
    margin: auto
}

.image-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 48%;
}

.text-center-name {
    color: green;
    margin-top: 40px;
    font-style: italic
}

.name {
    text-align: center;
}

.group {
    display: flex;
    width: 15%;
}