/* Anfang CSS für Searchbar und Searchbutton */
.searchButton .input-group-append {
    flex: 0 0 auto; /* Behält die Größe des Buttons bei */
}
.searchButton .form-control {
    border-radius: 0; /* Entfernt die abgerundeten Ecken des Textfelds */
}

.card {
    width: 320px;
    height: 250px;
}

.row.gutter {
    margin-right: -15px;
    margin-left: -15px;
}

.row.gutter>[class^="col-"],
.row.gutter>[class^="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

/* Adjust the length and size of the search bar and button */
#discover-searchbar {
    max-width: 300px; /* Set the maximum width of the search bar */
    margin: auto; /* Center the search bar */
}

#discover-searchbar .form-control {
    width: 100%; /* Set the width of the search bar to 100% */
    border-radius: 5px; /* Add some border-radius for rounded corners */
}

#discover-searchbar .searchButton {
    width: 100%; /* Set the width of the button to 100% */
    border-radius: 5px; /* Match the border-radius of the search bar */
}