/* Anfang CSS für Searchbar und Searchbutton */
#discover-searchbar {
    width: 600px;
}
.searchButton .input-group-append {
    flex: 0 0 auto; /* Behält die Größe des Buttons bei */
}
.searchButton .form-control {
    border-radius: 0; /* Entfernt die abgerundeten Ecken des Textfelds */
}

.card {
    width: 300px;
    height: 250px;
}

.row.gutter {
    margin-right: -15px;
    margin-left: -15px;
}

.row.gutter>[class^="col-"],
.row.gutter>[class^="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

