/* Anfang CSS für Searchbar und Searchbutton */
.searchButton .input-group-append {
    flex: 0 0 auto; /* Behält die Größe des Buttons bei */
}
.searchButton .form-control {
    border-radius: 0; /* Entfernt die abgerundeten Ecken des Textfelds */
}

.card {
    width: 320px;
    height: 250px;
    transition: transform 0.3s ease;
    overflow: hidden; /* Ensure overflow is hidden to prevent content overflow during zoom */
}

.card:hover {
    transform: scale(1.1);
}

/* Add styles for the overlay text */
.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 1, 0.7);
    height: 50%;
}

.overlay-text .card-body {
    padding: 10px; /* Adjust padding as needed */
}
.row.gutter {
    margin-right: -15px;
    margin-left: -15px;
}

.row.gutter>[class^="col-"],
.row.gutter>[class^="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}
.button {
    background-color: #07773a;

}
